@page "/login"

@inject AuthorizeApi AuthorizeApi 
@inject NavigationManager Nav

<h3>LoginPage</h3>
<div id="LoginPage">
	<div id="contentlog">

<RadzenLogin AllowResetPassword="false"
			 Login="@OnLogin"
			 Register="@OnRegister">
</RadzenLogin>
	</div>
</div>


@code {
	private async Task OnLogin(LoginArgs arg)
	{
		var login = arg.Username;
		var password = arg.Password;

		var success = await AuthorizeApi.Login(login, password);

		if (success)
			Nav.NavigateTo("/");
	}

	private void OnRegister() => Nav.NavigateTo("/register");
}
