@page "/login"

@inject AuthorizeApi AuthorizeApi 
@inject NavigationManager Nav

<section id="menu">


    <div id="ricepic">
    </div>
    <div id="entermenu">
        <div id="uspic">
        </div>
        <h1 id="enterh">Вход</h1><a id="regref" href="register">Регистрация</a>
        <input type="text" id="login" name="login" required minlength="4" maxlength="32" size="10" placeholder="логин" @bind-value="_password"/>
        <input type="password" id="password" name="password" required minlength="4" maxlength="32" size="10" placeholder="пароль" @bind-value="_username" />
        <input id="authbut" type="button" value="Авторизоваться" onclick="@OnLogin"/>
    </div>
    <div>
    </div>














</section>


@code {

    private string _password;
    private string _username;

	private async Task OnLogin()
	{
		var login = _username;
        var password = _password;

		var success = await AuthorizeApi.Login(login, password);

		if (success)
			Nav.NavigateTo("/");
	}

	private void OnRegister() => Nav.NavigateTo("/register");
}
