@page "/profile"
@inject NavigationManager Nav
@layout ProfileLayout

<AuthorizeView>
    <Authorized>

        <div class="recmenubody"></div>
        <div class="blok">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <img class="avatar" alt="" src="/css/img/пингвины.jpg">
                    <div class="button"><button>Фото</button></div>
                    <pre class="reiting">5,6</pre><img class="img_reiting" src="/css/img/icons8-zvezda-48.png">
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="container text-left">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="left">Имя</div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="right">Антон Сергеевич</div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="left">Дата рождения</div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="right">03.08.2000</div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="left">Майл</div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="right">as@mail.ru</div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="left">Дата регистрации</div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="right">10.02.2024</div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="left">Роль</div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="right">Пользователь</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr width="1" size="700">
        <div class="row">
            <div class="col-md-2 col-sm-12">
                <img class="polz" src="/css/img/icons8-polzovatel-100.png" alt="" title="Перейти на страницу пользователя">
            </div>
            <div class="col-md-2 col-sm-12">
                <img class="viti" src="/css/img/icons8-vykhod-96.png" alt="" title="Выход из аккаунта">
            </div>
            <div class="col-md-2 col-sm-12">
                <img class="nazad" src="/css/img/icons8-plyus-30.png" alt="" title="Закрыть страницу">
            </div>
        </div>
        <div class="button_kategor">
            <button class="izbr" type="submit" value="">Избранное</button>
            <p></p>
            <button class="rezepn" type="submit" value="">Мои рецепты</button>
            <p></p>
            <button class="cozdat" type="submit" value="">Создать рецепт</button>
        </div>
        <div class="text_polz">
            <p class="right_name">
                Антон Сергеевич
            </p>
        </div>

    </Authorized>
</AuthorizeView>


@code
{}
