@page "/category"

<PageTitle>Сategory</PageTitle>

<section id="categorymenu">
    <div id="categorysearchinput">
        <input type="text" id="categorysearch" name="name" placeholder="Поиск" />
    </div>
    <form id="test1" class="categorymenubutt" action="first/1">
        <button id="allrec" class="but menubut">Первое</button>
    </form>
    <form id="test2" class="categorymenubutt" action="first/1">
        <button id="allrec" class="but menubut">Второе</button>
    </form>
    <form id="test3" class="categorymenubutt" action="first/1">
        <button id="allrec" class="but menubut ">Салаты</button>
    </form>
    <form id="test4" class="categorymenubutt" action="first/1">
        <button id="allrec" class="but menubut ">Напитки</button>
    </form>
    <form id="test5" class="categorymenubutt" action="first/1">
        <button id="allrec" class="but menubut">Десерты</button>
    </form>
    <form id="test6" class="categorymenubutt" action="first/1">
        <button id="allrec" class="but menubut">Правильное Питание</button>
    </form>
    <form id="test7" class="categorymenubutt" action="first/1">
        <button id="allrec" class="but menubut">Выпечка</button>
    </form>
    <form id="backbut" class="butcon" action="/">
        <button id="allrec" class="but"></button>
    </form>

</section>
