
    <nav class="nav">
        <div class="nav-item">
            <NavLink class="nav-link" href="">
                <img src="https://s3-alpha-sig.figma.com/img/0206/9d2c/ec73a2efabe129dd4750ffce03532aab?Expires=1713139200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=GchQv~HpSZRPE4IF6VJT~IBcyUqhSu1bvux2r18V5wrg7fg9PG7Mea-Yl8dDyvgi8P0Tuhe4wYIyCEEJAGJ3B9n2OeFYB6TSDTMZ8UJzpxUi27XHCd8AIwjc9mRY~BjKoSVSjoNkltRKwKFAWtEuJOX3r9xzhwHGU6bU8IQ60rD1RmncwvY5z73NuJBTmZw1-7Q1S9wS23y41lAVAMHP8~8pf1Ruk55weQvRdXFbcE6Ucgk9QKmMyORSxouah9VQOrwCSUgB2WhlecGwrK8Z~EzRgQqF446FGr4g6dDfTBuerOcBTu9w6US5cyq28YtBGXCFgNJWFsZeKSKNLnQumA__" alt="Alternate Text" />
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="counter">
                <img src="https://s3-alpha-sig.figma.com/img/5ebd/84d4/2ef53242f9488fceacf8d93363788099?Expires=1713139200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=h8~4Lu8LxEjyFioJdqHrK~XklOt6ypxtQvGSKTz6pVn6pqm58z7eMATeR1ey3VynKXXZpOjjczNEvaipHfdXZxXJetBuzOEUXzLh25KcqJOVMTPbkPfrWzJBwJlj7-wLfIz9NUzdhYFOV6t0lNJVe6G08A2yrMIP6nZRbkO~kgYy3J~F07sTD0hvZ8~5yMxGb~SSDwkjseLAv4HXQx3~7UhBCiyWc6AZL8KiiKH-CU-Q0lR03jyDiQpCqxxBN6Hp-g3tbvudk7hKPrPz1u-Fg5EOWZHjydqo~~HE~4rRt01gneTsc8ypMsLVDXPZYNrir9M87uvIwJdMcl8uRu77rg__" alt="Alternate Text" />
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="fetchdata">
                <img src="https://s3-alpha-sig.figma.com/img/5745/f80a/6af17edb7a804c2ca6d0c1f26a2565f5?Expires=1713139200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=RaPv6n-EydJMW6EBKwr~FPpNf-YiySb3-ea4ZTg0ZT-xgLOwC~IUfYyMSIFtHttgr4B1PSLLQjCtMgZcd~yGOQ93XlVFqjNeJhHhBGOeOoPKQTs7ARZnG4TG-ITC9MxTAEhLF8gJpE4k8y7f8gSM4a34SMKiYCyrOqy8AGvStbr3iwzwa2toYjvnWO0nfVMBuZ8QUzt3iG~nv7ed3De5aO11Xy5M1un0zNOOvCWBf6GkvC6q7f5qb34id8nFzMnV6b9lAyVmyE0yNtcWntxgvbiUMzFSp6oI5tdoI7pCFEMaw5ExBfnPBLpy0xoiqrBMB8upMvsnibeOpAKCT66ovg__" alt="Alternate Text" />
            </NavLink>
        </div>
    </nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
