@inherits LayoutComponentBase

<body class="profile">
    @Body
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>
    <script src="_framework/blazor.server.js"></script>
</body>